 



@import "node_modules/react-modal-video/scss/modal-video.scss";
@import "slick-carousel/slick/slick.css"; 
@import "~bootstrap/scss/bootstrap";
@import "swiper/css/bundle"; 
@import "/public/assets/scss/main.scss";